<h1>Create a new student</h1>

<%= form_for new_student_url do |form| %>
  <%= form.text_field :name, placeholder: 'name' %>
  <%= form.text_field :email, placeholder: 'email' %>

  <%= form.submit %>

<% end %>


