<div class="container">

  <% if flash[:notice] %>
    <div class="notice alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <th>Studnt Name </th>
      <th>Studnt email</th>
    </tr>
    <tr>
      <td> <%= @single_student_show.name %> </td>
      <td> <%= @single_student_show.email %> </td>
    </tr>
  </table>
</div>
