<div class="container">
  <h1> <%= @article.title %> </h1>
  <h4> <%= @article.body %> </h4>
  <div> <%= image_tag @article.article_cover_image, :style => "width:300px; height:200px; border:solid 1px black" %> </div>
</div>