<div class="container vh-100">
  <div class="row container d-flex justify-content-center align-items-center h-100">
    <div class="jumbotron w-50">
      <div class="alert alert-success" role="alert">
        Account successfully created — Login now!
      </div>
      <hr class="my-4">
      <p class="lead d-flex justify-content-center">
        <a class="btn btn-primary btn-lg" href="/account_login" role="button">Login</a>
      </p>
    </div>
  </div>
</div>




