<div class="container">
  <div class="container-fluid row row-cols-3">
    <div class="col p-2">
      <div class="card">
        <img src="https://i0.wp.com/www.habibjr.com/wp-content/uploads/2022/04/IELTS-Ebooks-and-PDF-Materials-free-DOWNLOAD.jpg?w=1920&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Author Name</p>
          <h5 class="card-title">This is the post title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card">
        <img src="https://i0.wp.com/www.habibjr.com/wp-content/uploads/2022/03/Blog-post-thumbnail-1.jpg?w=1920&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Author Name</p>
          <h5 class="card-title">This is the post title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content .</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card">
        <img src="https://i0.wp.com/www.habibjr.com/wp-content/uploads/2022/02/block-bank-part-2-1.jpg?w=1920&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Author Name</p>
          <h5 class="card-title">This is the post title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col p-2">
      <div class="card">
        <img src="https://i0.wp.com/www.habibjr.com/wp-content/uploads/2021/11/Copy-of-Studienkollges-part-02-1-1.png?w=1920&ssl=1" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Author Name</p>
          <h5 class="card-title">This is the post title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

  </div>
</div>
